<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.ApiLogMapper">
	<insert id="insertApiLog" parameterType="org.fitsync.domain.ApiLogVO">
	    <!-- 시퀀스 값 사전 조회 -->
	    <selectKey keyProperty="apilog_idx" resultType="int" order="BEFORE">
	        SELECT apilog_seq.NEXTVAL FROM dual
	    </selectKey>
	
	    INSERT INTO apilog (
	        apilog_idx,
	        member_idx,
	        apilog_prompt,
	        apilog_response,
	        apilog_request_time,
	        apilog_response_time,
	        apilog_input_tokens,
	        apilog_output_tokens,
	        apilog_model,
	        apilog_version,
	        apilog_status,
	        apilog_service_type
	    ) VALUES (
	        #{apilog_idx},
	        #{member_idx},
	        #{apilog_prompt},
	        #{apilog_response},
	        #{apilog_request_time},
	        #{apilog_response_time},
	        #{apilog_input_tokens},
	        #{apilog_output_tokens},
	        #{apilog_model},
	        #{apilog_version},
	        #{apilog_status},
	        #{apilog_service_type}
	    )
	</insert>


    <select id="selectApiLogById" resultType="org.fitsync.domain.ApiLogVO" parameterType="int">
        SELECT *
        FROM apilog
        WHERE apilog_idx = #{apilog_idx}
    </select>
    
	<select id="selectApiList" resultType="org.fitsync.domain.ApiLogVO">
	    SELECT *
	    FROM apilog
	    ORDER BY apilog_idx
	</select>
    
    <!-- 예외 사유 업데이트 쿼리 -->
    <update id="updateExceptionReason" parameterType="org.fitsync.domain.ApiLogVO">
        UPDATE apilog SET 
        	apilog_status = #{apilog_status}, 
        	apilog_status_reason = #{apilog_status_reason} 
        WHERE apilog_idx = #{apilog_idx}
    </update>

</mapper>
