<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.ChatAttachMapper">
	
	<!-- 첨부파일 저장 -->
    <insert id="insertAttach" parameterType="org.fitsync.domain.ChatAttachVO">
        <selectKey keyProperty="attach_idx" resultType="int" order="BEFORE">
            SELECT chatattach_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO chatattach (
            attach_idx,
            original_filename,
            cloudinary_url,
            cloudinary_public_id,
            file_size_bytes,
            mime_type, 
            file_extension,
            uploaddate
        ) VALUES (
            #{attach_idx},
            #{original_filename},
            #{cloudinary_url},
            #{cloudinary_public_id},
            #{file_size_bytes},
            #{mime_type},
            #{file_extension},
            SYSTIMESTAMP
        )
    </insert>
    
    <!-- 첨부파일 상세 조회 -->
    <select id="getAttach" parameterType="int" resultType="org.fitsync.domain.ChatAttachVO">
        SELECT * FROM chatattach WHERE attach_idx = #{attach_idx}
    </select>
    
    <!-- 첨부파일 삭제 -->
    <delete id="deleteAttach" parameterType="int">
        DELETE FROM chatattach WHERE attach_idx = #{attach_idx}
    </delete>

</mapper>