<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.MemberMapper">

	<!-- 유저 존재여부 -->
	<select id="getFindUser" parameterType="String" resultType="org.fitsync.domain.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>

	<!-- 유저 idx -->
	<select id="getUserIdx" parameterType="String" resultType="int">
		SELECT MEMBER_IDX
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>

	<!-- 소셜 로그인 정보 등록 -->
	<insert id="insertMemberInfo" parameterType="org.fitsync.domain.MemberVO">
		INSERT INTO MEMBER (
			MEMBER_IDX,
			MEMBER_EMAIL,
			MEMBER_NAME,
			MEMBER_IMAGE,
			MEMBER_TYPE,
			MEMBER_PURPOSE,
			MEMBER_DISEASE,
			MEMBER_TIME
		) VALUES(
			MEMBER_SEQ.nextval,
			#{member_email},
			#{member_name},
			#{member_image},
			#{member_type},
			#{member_purpose},
			#{member_disease},
			#{member_time}
		)
	</insert>
	<insert id="insertTrainerInfo" parameterType="org.fitsync.domain.MemberVO">
		INSERT INTO MEMBER (
			MEMBER_IDX,
			MEMBER_EMAIL,
			MEMBER_NAME,
			MEMBER_IMAGE,
			MEMBER_TYPE,
			MEMBER_TIME,
			MEMBER_DAY,
			MEMBER_ACTIVITY_AREA,
			MEMBER_INFO
		) VALUES(
			MEMBER_SEQ.nextval,
			#{member_email},
			#{member_name},
			#{member_image},
			#{member_type},
			#{member_time},
			#{member_day},
			#{member_activity_area},
			#{member_info}
		)
	</insert>

	<!-- 유저 추가정보 입력 -->
	<!-- <update id="updateInfo" parameterType="org.fitsync.domain.MemberVO">
		UPDATE MEMBER SET 
			MEMBER_PURPOSE = #{member_purpose},
			MEMBER_DISEASE = #{member_disease},
			MEMBER_TIME = #{member_time}			
		WHERE MEMBER_IDX = #{member_idx}
	</update> -->
	
	<!-- 트레이너 추가정보 입력 -->
	<!-- <update id="updateTrainerInfo" parameterType="org.fitsync.domain.MemberVO">
		UPDATE MEMBER SET 
			MEMBER_TIME = #{member_time},
			MEMBER_ACTIVITY_AREA = #{member_activity_area},
			MEMBER_INFO = #{member_info},
			MEMBER_AWARDS = #{member_awards},
			MEMBER_DAY = #{member_day}			
		WHERE MEMBER_IDX = #{member_idx}
	</update> -->
	
	<!-- 트레이너 프로필 조회 -->
	<select id="selectTrainerByIdx" parameterType="int" resultType="org.fitsync.domain.MemberVO">
	    SELECT *
	    FROM member
	    WHERE member_idx = #{member_idx}
	</select>
	
	<!-- 자격증 / 수상경력 / 학위 목록 조회 -->
	<select id="selectAwardsByMemberIdx" parameterType="int" resultType="org.fitsync.domain.AwardsVO">
	    SELECT *
	    FROM awards
	    WHERE trainer_idx = #{trainer_idx}
	</select>
	
	<!-- 리뷰 목록 조회 -->
	<select id="selectReviewsByTrainerIdx" parameterType="int" resultType="org.fitsync.domain.ReviewVO">
	  SELECT r.*
	  FROM review r
	  JOIN matching m ON r.matching_idx = m.matching_idx
	  WHERE m.trainer_idx = #{trainer_idx}
	</select>
	
	<!-- 트레이너 프로필 수정 -->
	<update id="updateTrainerProfile" parameterType="org.fitsync.domain.MemberVO">
	  UPDATE member
	  <set>
	    <if test="member_intro != null">member_intro = #{member_intro},</if>
	    <if test="member_info != null">member_info = #{member_info},</if>
	    <if test="member_info_image != null">member_info_image = #{member_info_image},</if>
	  </set>
	  WHERE member_idx = #{member_idx}
	</update>
	 
	<!-- 트레이너 목록 가져오기 (검색 기능 추가) -->
	<select id="getTrainerList" parameterType="org.fitsync.domain.SearchCriteria" resultType="org.fitsync.domain.MemberVO">
		SELECT 
			member_idx,
			member_email,
			member_name,
			member_image,
			member_status,
			member_day,
			member_type,
			member_time,
			member_activity_area,
			member_info,
			member_info_image
		FROM member 
		WHERE member_type = 'trainer'
		AND member_status = 'active'
		<if test="keyword != null and keyword != ''">
			AND (
				member_name LIKE '%' || #{keyword} || '%' 
				OR member_activity_area LIKE '%' || #{keyword} || '%'
			)
		</if>
		<if test="gender != null">
			AND member_gender = #{gender}
		</if>
		<if test="time != null and time != ''">
		  AND TO_DATE(SUBSTR(#{time}, 1, 5), 'HH24:MI') &lt;= TO_DATE(SUBSTR(member_time, 7, 5), 'HH24:MI')
		  AND TO_DATE(SUBSTR(#{time}, 7, 5), 'HH24:MI') &gt;= TO_DATE(SUBSTR(member_time, 1, 5), 'HH24:MI')
		</if>
		ORDER BY member_idx DESC
	</select>

	<!-- 루틴 추천을 위한  유저 정보 불러오기 -->
	<select id="getMemberForAIRecommendation" parameterType="int" resultType="org.fitsync.domain.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_IDX = #{MEMBER_IDX}
	</select>
	
	<select id="selectMemberByIdx" resultType="org.fitsync.domain.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_IDX = #{member_idx}
	</select>
	
	<update id="updateMemberProfileImage">
	    UPDATE member
	    SET member_image = #{imageUrl}
	    WHERE member_idx = #{memberIdx}
	</update>
	
</mapper>