<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.MemberMapper">

	<!-- 유저 존재여부 -->
	<select id="getFindUser" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>

	<!-- 유저 idx -->
	<select id="getUserIdx" parameterType="String" resultType="int">
		SELECT MEMBER_IDX
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>

	<!-- 추가입력여부 -->
	<select id="getFindInfo" parameterType="String" resultType="int">
		SELECT COUNT(member_time)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>

	<!-- 소셜 로그인 정보 등록 -->
	<insert id="insertUser" parameterType="org.fitsync.domain.MemberVO">
		INSERT INTO MEMBER (
			MEMBER_IDX,
			MEMBER_EMAIL,
			MEMBER_NAME,
			MEMBER_IMAGE
		) VALUES(
		MEMBER_SEQ.nextval,
			#{member_email},
			#{member_name},
			#{member_image}
		)
	</insert>

	<!-- 유저 추가정보 입력 -->
	<update id="updateInfo" parameterType="org.fitsync.domain.MemberVO">
		UPDATE MEMBER SET 
			MEMBER_PURPOSE = #{member_purpose},
			MEMBER_DISEASE = #{member_disease},
			MEMBER_TIME = #{member_time}			
		WHERE MEMBER_IDX = #{member_idx}
	</update>
</mapper>