<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.PaymentOrderMapper">

    <!-- 결제 요청 저장 -->
    <insert id="insertPaymentOrder" parameterType="org.fitsync.domain.PaymentOrderVO" 
            useGeneratedKeys="true" keyProperty="order_idx" keyColumn="order_idx">
        INSERT INTO payment_order (
            order_idx, member_idx, method_idx,
            payment_id, order_type, order_status,
            order_name, order_price, order_currency, order_regdate
        )
        VALUES (
            payment_order_seq.nextval, #{member_idx}, #{method_idx},
            #{payment_id}, #{order_type}, #{order_status},
            #{order_name}, #{order_price}, #{order_currency}, #{order_regdate}
        )
    </insert>

    <!-- 결제 상태 및 결제시간 갱신 -->
    <update id="updatePaymentStatus" parameterType="org.fitsync.domain.PaymentOrderVO">
        UPDATE payment_order
        SET order_status = #{order_status},
            order_paydate = #{order_paydate}
        WHERE order_idx = #{order_idx}
    </update>

    <!-- 단건 결제 정보 조회 -->
    <select id="selectPaymentOrderById" parameterType="int" resultType="org.fitsync.domain.PaymentOrderVO">
        SELECT *
        FROM payment_order
        WHERE order_idx = #{order_idx}
    </select>

    <!-- 특정 회원의 결제 목록 조회 -->
    <select id="selectPaymentOrdersByMember" parameterType="int" resultType="org.fitsync.domain.PaymentOrderVO">
        SELECT *
        FROM payment_order
        WHERE member_idx = #{member_idx}
        ORDER BY order_idx DESC
    </select>

    <!-- 특정 회원의 결제 목록 조회 (결제 수단 정보 포함) -->
    <select id="selectPaymentOrdersByMemberWithMethod" parameterType="int" resultType="org.fitsync.domain.PaymentOrderWithMethodVO">
        SELECT
            po.order_idx,
            po.member_idx,
            po.method_idx,
            po.payment_id,
            po.order_type,
            po.order_status,
            po.order_name,
            po.order_price,
            po.order_currency,
            TO_CHAR(po.order_regdate, 'YYYY-MM-DD HH24:MI:SS') AS order_regdate,
            TO_CHAR(po.order_paydate, 'YYYY-MM-DD HH24:MI:SS') AS order_paydate,
            
            pm.method_key,
            pm.method_provider,
            pm.method_name,
            pm.method_card,
            pm.method_card_num,
            TO_CHAR(pm.method_regdate, 'YYYY-MM-DD HH24:MI:SS') AS method_regdate
        FROM
            payment_order po
        JOIN
            payment_method pm
        ON
            po.method_idx = pm.method_idx
        WHERE
            po.member_idx = #{member_idx}
        ORDER BY 
            po.order_idx DESC
    </select>

</mapper>