<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.PaymentMethodMapper">

    <!-- 결제수단 등록 -->
    <insert id="insertPaymentMethod" parameterType="org.fitsync.domain.PaymentMethodVO">
        INSERT INTO payment_method (
            method_idx, 
            member_idx, 
            method_key, 
            method_provider,
	        <if test="method_name != null">
	            method_name,
	        </if>
	        <if test="method_card != null">
	            method_card,
	        </if>
	        <if test="method_card_num != null">
	            method_card_num,
	        </if>
            method_regdate
        ) VALUES (
            payment_method_seq.nextval, 
            #{member_idx}, 
            #{method_key}, 
            #{method_provider}, 
	        <if test="method_name != null">
	            #{method_name},
	        </if>
	        <if test="method_card != null">
	            #{method_card},
	        </if>
	        <if test="method_card_num != null">
	            #{method_card_num},
	        </if>
            SYSDATE
        )
    </insert>

    <!-- 같은 카드 번호가 있는지 확인 -->
    <select id="checkDuplicateCard" parameterType="org.fitsync.domain.PaymentMethodVO" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT * FROM payment_method
        WHERE member_idx = #{member_idx} AND method_card = #{method_card} AND method_card_num = #{method_card_num}
    </select>

    <!-- 회원별 결제수단 조회 -->
    <select id="selectByMemberIdx" parameterType="int" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT * FROM payment_method
        WHERE member_idx = #{member_idx}
    </select>
    
    <!-- 회원별 결제수단 조회 (빌링키 제외) -->
    <select id="selectByMemberIdxExcludingKey" parameterType="int" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT method_idx, member_idx, method_provider, method_name, method_regdate, method_card, method_card_num
        FROM payment_method
        WHERE member_idx = #{member_idx}
        ORDER BY method_regdate DESC
    </select>

    <!-- 빌링키 가져오기 -->
    <select id="selectBillingKeyByMethodIdx" parameterType="int" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT method_key, method_provider, method_card, method_card_num
        FROM payment_method
        WHERE method_idx = #{method_idx}
    </select>

    <!-- 단건 조회 (method_idx 기준) -->
    <select id="selectByMethodIdx" parameterType="int" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT * FROM payment_method
        WHERE method_idx = #{method_idx}
    </select>

    <!-- 결제수단 이름 수정 -->
    <update id="updatePaymentMethodName" parameterType="org.fitsync.domain.PaymentMethodVO">
        UPDATE payment_method
        SET method_name = #{method_name}
        WHERE method_idx = #{method_idx}
    </update>
    
    <!-- 결제수단 이름 수정 (보안된 버전 - member 소유권 확인) -->
    <update id="updatePaymentMethodNameSecure" parameterType="org.fitsync.domain.PaymentMethodVO">
        UPDATE payment_method
        SET method_name = #{method_name}
        WHERE method_idx = #{method_idx} AND member_idx = #{member_idx}
    </update>

    <!-- 결제수단 삭제 -->
    <delete id="deletePaymentMethod" parameterType="org.fitsync.domain.PaymentMethodVO">
        DELETE FROM payment_method
        WHERE method_idx = #{method_idx} AND member_idx = #{member_idx}
    </delete>

    <!-- 중복 카드 개수 확인 (카드명과 카드번호 기준) -->
    <select id="countDuplicateCard" parameterType="org.fitsync.domain.PaymentMethodVO" resultType="int">
        SELECT COUNT(*)
        FROM payment_method
        WHERE member_idx = #{member_idx} 
        AND method_card = #{method_card} 
        AND method_card_num = #{method_card_num}
    </select>
    
    <!-- 중복된 결제수단 조회 -->
    <select id="findDuplicateCard" parameterType="org.fitsync.domain.PaymentMethodVO" resultType="org.fitsync.domain.PaymentMethodVO">
        SELECT * 
        FROM payment_method
        WHERE member_idx = #{member_idx} 
        AND method_card = #{method_card} 
        AND method_card_num = #{method_card_num}
        AND ROWNUM = 1
    </select>

</mapper>
