<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.PtMapper">
	<select id="getWorkOut" resultType="org.fitsync.domain.PtVO">
		SELECT * FROM PT
		ORDER BY 
		CASE 
			WHEN PT_CATEGORY = '기타' 
			THEN 1 ELSE 0 END, PT_CATEGORY
	</select>
	
	<select id="getWorkOutName" resultType="string">
	    SELECT PT_NAME
	    FROM PT
	</select>
	
	<select id="selectPtById" resultType="org.fitsync.domain.PtVO">
	  	SELECT * FROM PT WHERE PT_IDX = #{ptId}
	</select>
</mapper>