<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.PtMapper">
	<select id="getWorkOut" resultType="org.fitsync.domain.PtVO">
		SELECT * FROM PT
		ORDER BY 
		CASE 
			WHEN PT_CATEGORY = '기타' 
			THEN 1 ELSE 0 END, PT_CATEGORY
	</select>
	
	<select id="getWorkOutName" resultType="string">
	    SELECT PT_NAME
	    FROM PT
	    WHERE PT_HIDDEN = 0
	</select>
	
	<select id="getWorkOutNameMap" resultType="org.fitsync.domain.PtVO">
	    SELECT PT_IDX, PT_NAME
	    FROM PT
		WHERE PT_HIDDEN = 0
	</select>
	
	<select id="getAllWorkOutNameMap" resultType="org.fitsync.domain.PtVO">
	    SELECT PT_IDX, PT_NAME
	    FROM PT
	</select>
	
	<select id="selectPtById" resultType="org.fitsync.domain.PtVO">
	  	SELECT * FROM PT WHERE PT_IDX = #{ptId}
	</select>
	<!-- 운동 수정 -->
	<update id="updateWorkOut" parameterType="org.fitsync.domain.PtVO">
		UPDATE PT 
		SET 
		    PT_NAME = #{pt_name}, 
		    PT_CATEGORY = #{pt_category},
		    PT_IMAGE = #{pt_image},
		    PT_CONTENT = #{pt_content}
	    WHERE PT_IDX = #{pt_idx} 
	</update>
	<!-- 운동삭제 -->
	<update id="hideWorkOut" parameterType="int">
		UPDATE PT 
		SET PT_HIDDEN = 
		CASE 
            WHEN PT_HIDDEN = 0 THEN 1
            WHEN PT_HIDDEN = 1 THEN 0
            ELSE PT_HIDDEN
        END
		WHERE PT_IDX = #{pt_idx}
	</update>
	
	<insert id="insertWorkOut" parameterType="org.fitsync.domain.PtVO">
		INSERT INTO PT 
		VALUES(
			PT_SEQ.NEXTVAL,
			#{pt_name},
			#{pt_category}, 
			#{pt_image},
			#{pt_content},
			NULL,
			0
		)
	</insert>

	<!-- 동일 카테고리의 운동 1개 랜덤 추천 -->
	<select id="selectOneRandomByCategory" resultType="org.fitsync.domain.PtVO" parameterType="org.fitsync.domain.PtVO">
		SELECT * FROM (
			SELECT * 
			FROM pt 
			WHERE pt_category = #{pt_category}
			AND pt_idx != #{pt_idx}
			AND pt_hidden = 0
			ORDER BY DBMS_RANDOM.VALUE
		)
		WHERE ROWNUM = 1
	</select>
</mapper>