<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.RecordMapper">
	<insert id="insertRecord" parameterType="org.fitsync.domain.RecordVO">
		INSERT INTO RECORD VALUES(
		    RECORD_SEQ.nextval,
		    #{member_idx},
		    sysdate,
		    #{pt_idx},
		    #{routine_memo},
		    #{routine_name},
		    #{routine_list_idx}
		)
	</insert>
	
	<select id="findRecordDatesByMonth" resultType="string">
	    SELECT TO_CHAR(record_date, 'YYYY-MM-DD') AS record_day
	    FROM record
	    WHERE member_idx = #{memberIdx}
	      AND TO_CHAR(record_date, 'YYYY-MM') = #{month}
	    GROUP BY TO_CHAR(record_date, 'YYYY-MM-DD')
	    ORDER BY record_day
	</select>
	
	<select id="selectRecordDates" resultType="string">
		  SELECT TO_CHAR(RECORD_DATE, 'YYYY-MM-DD') AS record_date
		  FROM RECORD
		  WHERE MEMBER_IDX = #{memberIdx}
		  GROUP BY TO_CHAR(RECORD_DATE, 'YYYY-MM-DD')
		  ORDER BY record_date DESC
	</select>

	<select id="selectRecordsByDate" resultType="org.fitsync.domain.RecordVO">
		  SELECT r.*, p.PT_NAME, p.PT_CATEGORY, p.PT_IMAGE
		  FROM RECORD r
		  JOIN PT p ON r.PT_IDX = p.PT_IDX
		  WHERE r.MEMBER_IDX = #{memberIdx}
		    AND TO_CHAR(r.RECORD_DATE, 'YYYY-MM-DD') = #{date}
		  ORDER BY r.RECORD_DATE DESC
	</select>
</mapper>