<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.ReviewMapper">
	<select id="getReview" parameterType="int">
		SELECT * FROM REVIEW WHERE MEMBER_IDX = #{member_idx}
	</select>
	
	<select id="getReviewOne" parameterType="int" resultType="org.fitsync.domain.ReviewVO">
		SELECT * 
		FROM REVIEW 
		WHERE MATCHING_IDX = #{matching_idx}
	</select>
	
	<update id="reviewHidden" parameterType="int">
		UPDATE REVIEW 
		SET REVIEW_HIDDEN = 'Y'
		WHERE MATCHING_IDX = #{matching_idx}
	</update>
</mapper>