<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.RoutineListMapper">
	
	<select id="getRoutineList" parameterType="int">
		SELECT * 
		FROM ROUTINELIST
		WHERE MEMBER_IDX = #{member_idx}
	</select>

	<select id="getIdx" parameterType="int" resultType="int">
		SELECT MAX(ROUTINE_LIST_IDX)
		FROM ROUTINELIST
		WHERE MEMBER_IDX = #{member_idx}
	</select>

	<insert id="insert" parameterType="org.fitsync.domain.RoutineListVO">
		INSERT INTO ROUTINELIST VALUES(
			ROUTINE_LIST_SEQ.nextval, 
			#{member_idx},
			#{routine_name},
			#{writer_idx}
		)
	</insert>
</mapper>