<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.RoutineSetMapper">
	<insert id="insert" parameterType="org.fitsync.domain.RoutineSetVO">
		INSERT INTO ROUTINESET
		VALUES (
			<choose>
	 			<when test="routine_idx > 0">
	 				#{routine_idx},
	 			</when>
	 			<otherwise>
				 	(SELECT MAX(ROUTINE_IDX) FROM ROUTINE WHERE ROUTINE_LIST_IDX = #{routine_list_idx}),
	 			</otherwise>
	 		</choose>
	 		NVL((SELECT MAX(set_num) FROM ROUTINESET WHERE ROUTINE_IDX =
	 		<choose>
	 			<when test="routine_idx > 0">
	 				#{routine_idx}
	 			</when>
	 			<otherwise>
			 		(SELECT MAX(ROUTINE_IDX) FROM ROUTINE WHERE ROUTINE_LIST_IDX = #{routine_list_idx})
	 			</otherwise>
	 		</choose>
	 		),0) + 1,
		 	#{set_volume},
		 	#{set_count}
		)
	</insert>
	
	<delete id="delete" parameterType="org.fitsync.domain.RoutineSetVO">
		DELETE ROUTINESET 
		WHERE ROUTINE_IDX = #{routine_idx} AND SET_NUM = #{set_num}
	</delete>
	
	<update id="update" parameterType="org.fitsync.domain.RoutineSetVO">
		UPDATE ROUTINESET 
		SET SET_COUNT = #{set_count}, SET_VOLUME = #{set_volume} 
		WHERE ROUTINE_IDX = #{routine_idx} AND SET_NUM = #{set_num}
	</update>
</mapper>