<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fitsync.mapper.ScheduleMapper">
	<select id="selectByTrainerIdx" resultType="org.fitsync.domain.ScheduleVO">
	    SELECT s.*
	    FROM schedule s
	    JOIN member m ON s.trainer_idx = m.member_idx
	    WHERE m.member_type = 'trainer'
	      AND s.trainer_idx = #{trainerIdx}
    </select>

    <insert id="insertSchedule" parameterType="org.fitsync.domain.ScheduleVO">
        INSERT INTO schedule (
            schedule_idx,
            trainer_idx,
            schedule_date,
            schedule_stime,
            schedule_etime,
            schedule_content,
            schedule_regdate,
            user_idx,
            schedule_check,
            user_name
        ) VALUES (
            schedule_seq.NEXTVAL,
            #{trainer_idx},
            #{schedule_date},
            #{schedule_stime},
            #{schedule_etime},
            #{schedule_content},
            SYSDATE,
            #{user_idx},
            0,
            #{user_name, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteSchedule">
        DELETE FROM schedule WHERE schedule_idx = #{scheduleIdx}
    </delete>
    
   	<update id="updateSchedule" parameterType="org.fitsync.domain.ScheduleVO">
	    UPDATE schedule
	    SET
	      schedule_date = #{schedule_date},
	      schedule_stime = #{schedule_stime},
	      schedule_etime = #{schedule_etime},
	      schedule_content = #{schedule_content}
	    WHERE schedule_idx = #{schedule_idx}
  	</update>
  	
	<select id="selectScheduleDates" resultType="String">
	  SELECT DISTINCT TO_CHAR(schedule_date, 'YYYY-MM-DD')
	  FROM schedule
	  WHERE user_idx = #{userIdx}
	</select>
	
	<!-- 2. 특정 날짜의 예약 상세 -->
	<select id="selectSchedulesByDate" resultType="org.fitsync.domain.ScheduleVO">
	  SELECT s.*, t.member_name AS trainer_name
	  FROM schedule s
	  JOIN member t ON s.trainer_idx = t.member_idx
	  WHERE s.user_idx = #{userIdx}
	    AND TO_CHAR(s.schedule_date, 'YYYY-MM-DD') = #{date}
	</select>
</mapper>